page-mapa {
    #map {
        height: 100%;
        width: 100%;
    }
    .mapa{
        width: 100%;
        height: 100%;
       background-size: contain;
       background-repeat: no-repeat;
        background-position: center;
    }
    #gas{
       background-image: url('../assets/imgs/gas.png');
       display: block;
    }
    #super{
       background-image: url('../assets/imgs/super.png');       
       display: block; 
    }
    #pizza{
       background-image: url('../assets/imgs/pizza.png');   
       display: block;     
    }
    #btnAgregarGasto{
        position: fixed;
        right: 10%;
        bottom: 12%;
        width: 3.5em;
        height: 3.5em;
        background-color: black;
        border-radius: 100%;
        z-index: 50;
        background-image: url("../assets/imgs/add.png");
        background-size: 80%;
        box-shadow: 2px 2px 2px 2px #888888;
        background-position: center;
        background-repeat: no-repeat;
    }
}
